<%= form_with(model: message, local: true) do |form| %>
  <% if message.errors.any? %>
    <div id="alert alert-error">
      <h2><%= t('validate_errors', count: message.errors.count) %></h2>

      <ul>
      <% message.errors.full_messages.each do |ermessage| %>
        <li><%= ermessage %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <% if !current_user %>
    <div class="field">
     <%= form.label :email %><br />
     <%= form.text_area :email, id: :message_email, required: true %>
    </div>
  <% end %>
  <%= form.hidden_field :receiver_id, value: receiverid %>
  <div class="field">
    <%= form.label :Сообщение %><br />
    <%= form.text_area :body, id: :message_body, required: true %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
