<% provide(:title, 'Входящие сообщения') %>

<h1>Входящие сообщения</h1>

<table class="table">
<% if !@inmessages.blank? %>
  <tbody>
    <% @inmessages.each do |message| %>
      <tr>
        <% if message.sender.nil? %>
          <td width="13%">
            <%= image_tag("no avatar.png", alt: 'avatar',class:"img-circle") %>
          </td>
          <td width="13%">
            <%= message.email %>
          </td>
        <% else %>
          <td width="13%">
            <%= image_tag(message.sender_avatar.url, alt: 'avatar',class:"img-circle") if message.sender_avatar %>
          </td>
          <td width="13%">
            <%= message.sender_name %>
          </td>
        <% end %>
        <td><%= message.body %></td>
        <td width="13%"><%= l message.created_at, format:"%d %B %k:%M" %></td>
        <td width="10%">
          <% if !message.sender.nil? %>
           <%= button_to 'Ответить',"/messages/new/#{message.sender.id}", method: "get",class: "btn btn-primary" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
<% end %>
</table>
<div align="center">
  <%= will_paginate @inmessages %>
</div>