<% provide(:title, 'Исходящие сообщения') %>

<h1>Исходящие сообщения</h1>

<table class="table">
<% if !@outmessages.blank? %>
  <tbody>
    <% @outmessages.each do |message| %>
      <tr>
          <td width="13%">
            <%= image_tag(message.receiver_avatar.url, alt: 'avatar',class:"img-circle") if message.receiver_avatar %>
          </td>
          <td width="13%">
            <%= message.sender_name %>
          </td>
        <td><%= message.body %></td>
        <td width="13%"><%= l message.created_at, format:"%d %B %k:%M" %></td>
        <td width="10%">
          <% if !message.sender.nil? %>
           <%= button_to 'Ответить',"/messages/new/#{message.sender.id}", method: "get",class: "btn btn-primary" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
<% end %>
</table>
<div align="center">
  <%= will_paginate @outmessages %>
</div>