<div>
    	  <p><%= image_tag(user.avatar.url, alt: 'avatar',class:"img-circle") if user.avatar? %></p>
        <p><h4><%=link_to user.name, user %></h4></p>
        <%= button_to 'Написать сообщение',"/messages/new/#{user.id}", method: "get", class: "btn btn-primary" %>
        <p>Зарегистрирован <%= user.created_at.strftime("%d/%m/%y") %></p>
        <p>Количество объявлений <%=user.items.size%></p>
        <% if current_user && (current_user == user || current_user.admin?) %>
         <% if current_user.admin? %>
            <% if user.ban? %>
              <%= button_to 'Разбанить', {controller: 'users', action: "change", id: user.id , ban: false }, method: :patch, data: { confirm: 'Вы уверены?'}, class: "btn btn-danger"%>
            <% else %>
              <%= button_to 'Забанить', {controller: 'users', action: "change", id: user.id , ban: true }, method: :patch, data: { confirm: 'Вы уверены?'}, class: "btn btn-danger"%>
            <% end %> 
            <% if user.admin? %>
              <p><h5>Администратор</h5></p>
            <% else %>
              <%= button_to 'Сделать админом', {controller: 'users', action: "change", id: user.id , admin: true }, method: :patch, data: { confirm: 'Вы уверены?'}, class: "btn btn-info"%>
            <% end %>
          <% end %>
        <% end %>
</div>
