<% provide(:title, 'Все пользователи') %>
<h1>Все пользователи</h1>

<table class="table">
<% if !@users.blank? %>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td width="13%">
          <%= image_tag(user.avatar.url, alt: 'avatar', class:"img-circle") if user.avatar? %>
        </td>
        <td width="13%" style="vertical-align: middle">
          <%= link_to user.name, user %>
        </td>
        <td style="vertical-align: middle">
          <%= user.items.count %>
        </td>
        <td width="13%" style="vertical-align: middle">
          <% if user.admin? %>
             Администратор 
          <% else %>
            Пользователь 
          <% end %>
        </td>
        <td width="10%">
            <% if user.ban? %>
              <%= button_to 'Разбанить', {controller: 'users', action: "change", id: user.id , ban: false }, method: :patch, data: { confirm: 'Вы уверены?'},class: "btn btn-primary"%>
            <% else %>
              <%= button_to 'Забанить', {controller: 'users', action: "change", id: user.id , ban: true }, method: :patch, data: { confirm: 'Вы уверены?'},class: "btn btn-primary"%>
            <% end %> 
        </td>
      </tr>
    <% end %>
  </tbody>
<% end %>
</table>
<div align="center">
  <%= will_paginate @users %>
</div>