<% provide(:title, @user.name) %>

<div class="container">
  <div class="row">
<aside class="col-md-3">
  <section class="user_info">
    <%= render 'user', user: @user %>
  </section>
</aside>


    <div class="col-md-9">
      <div class="tabs">
        <ul class="nav nav-tabs">
          <li  class="<%= 'active' unless params[:active_tab] == 'tab-2' %>">
            <a class="nav-link <%= 'active' unless params[:active_tab] == 'tab-2' %>" data-toggle="tab" href="#tab-1">Активные</a></li>

            <li class="<%= 'active' if params[:active_tab] == 'tab-2' %>">
              <a class="nav-link <%= 'active' if params[:active_tab] == 'tab-2' %>" data-toggle="tab" href="#tab-2">Завершённые</a></li>
            </ul>


            <div class="tab-content">

             <div class="one tab-pane fade in active"  id="tab-1">
              <% unless @active_items.blank?%>
                <div id="items1">
                  <div class="row">
                  <%= render partial: 'items/small_item', collection: @active_items, as: :item %>
                </div>
                </div>


              <div align="center">
                <div class="linkmore1">
                  <%= link_to 'Загрузить ещё', user_path(active_page: @active_items.next_page),:class => 'next1', :remote => true if @active_items.next_page %>
                </div>
              </div>
              <% else %>
              <br>
              <p>Активных объявлений не найдено.</p>
              <% end %>
            </div>

            <div class="two tab-pane fade" id="tab-2">
              <% unless @finished_items.blank?%>
                <div id="items2">
                  <div class="row">
                  <%= render partial: 'items/small_item', collection: @finished_items, as: :item %>
                </div>
              </div>



              <div align="center">
                <!--<%= will_paginate @finished_items, :param_name => 'finished_page',params: {active_tab: 'tab-2'} %>-->
                <div class="link more2">
                  <%= link_to 'Загрузить ещё', user_path(finished_page: params[:finished_page]),:class => 'next2', :remote => true if @finished_items.next_page %>

                </div>
              </div>
              <% else %>
              <br>
              <p>Объявлений не найдено.</p>
              <% end %>
            </div>




          </div>
        </div>
      </div>
    </div>
  </div>