


<% if params[:active_page].nil? %>
	$('#items2').append('<%= j render(partial: 'items/small_item', collection: @finished_items, as: :item) %>');
	<% if @finished_items.next_page %>
	$('a.next2').attr('href','<%= user_path(finished_page: params[:finished_page]) %>');
	<% else %>
	$('a.next2').remove();
	<% end %>
<% else %>
	$('#items1').append('<%= j render(partial: 'items/small_item', collection: @active_items, as: :item) %>');
	<% if @active_items.next_page %>
	$('a.next1').attr('href','<%= user_path(active_page: params[:active_page]) %>');
	<% else %>
	$('a.next1').remove();
	<% end %>
<% end %>