
<div class="container">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: item, local: true) do |form| %>
    <% if item.errors.any? %>
    <div id="alert alert-error">
      <h2><%= t('validate_errors', count: item.errors.count) %>:</h2>

      <ul>
        <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <%= form.label :Название %>
    <%= form.text_field :name, id: :item_name, required: true, class: 'form-control' %>




    <%= form.label :Категория %>
    <%= form.select :category_id, class: "input-group-btn" do %>
    <% testcat.each do |c| -%>
    <%= content_tag(:option, c.second, value: c.first, disabled: c.last) %>
    <% end %>
    <% end %>


    <%= form.label :Цена %>
    <%= form.number_field :price, id: :item_price,required: true, min: '0', class: 'form-control' %>



    <%= form.label :Описание %>
    <%= form.text_area :description, id: :item_description, required: true, class: 'form-control' %>


    <div align="center" style="padding: 5px">
      <label class="btn btn-primary btn-file" align="center">
        Выберите фото
        <%= form.file_field :attachments, multiple: true, required: true %>
      </label>
    </div>
    <div align="center" style="padding: 5px">
      <%= form.submit 'Создать объявление', class: "btn btn-primary" %>
    </div>

    <% end %>

  </div>
</div>
</div>