<div class="col-md-3">
	<a href="<%= item_url(item)%>">
	<div class="item-view">
		<% if item.attachments? %>
			<%= image_tag(item.attachments.first.thumb_index.url, alt: 'Image') %>
		<% end %>
		<div class="item-name"><%=  "#{item.name}" %></div>
		<p><%= item.price %> р.</p>
		<div class="created-date"><%= l item.created_at, format: "%d %B %k:%M"   %></div>
	</div>
</a>
</div>