<div class="col-md-3">
  <div class="small-item-view">
  <% if item.attachments? %>
  <%= link_to(image_tag(item.attachments.first.small_thumb.url, alt: 'Image'), item) %>
  <% end %>
  <div>
      <div>
          <div class="small-item-name"><%=  link_to "#{item.name}",item %></div>
          <p class="small-item"><%= item.price %> р.</p>
          <div class="created-date"><%= l item.created_at, format: "%d %B %k:%M"   %></div>
      </div>
      </div>
  </div>
</div>