<h1>Объявления</h1>
<% unless @items.blank?%>
<div class="container">
  <div class="row">
        <%= render @items %>
  </div>
</div>
<div align="center">
 <%= will_paginate @items %>
</div>
<% else %>
<br>
<p>Объявлений не найдено.</p>
<% end %>



