<% provide(:title, @item.name) %>
<div class="container">
<div class="row">
  <div class="col-md-6">
    <h2><%= @item.name %></h2>
    <p><%= l @item.created_at, format: "%d %B %k:%M"   %></p>
  </div>
  <div class="col-md-6" align="right">
    <h3><%= @item.price %> р.</h3>
    <% if current_user && (current_user == @item.user || current_user.admin?) %>
      <%= link_to 'Редактировать', edit_item_path(@item), class:"btn btn-link" %> 
      <% if @item.sold? %>
        <%= link_to 'Сделать активным',unsold_item_path(@item.id), method: :patch, data: { confirm: 'Вы уверены?'}, class:"btn btn-link"%>
      <% else %>
        <%= link_to 'Уже продал',sold_item_path(@item.id), method: :patch, data: { confirm: 'Вы уверены?'}, class:"btn btn-link"%>
      <% end %>
      <% else %>
      <% if @item.sold? %>
        <p>Объявление не активно</p>
      <% end %>
    <% end %>
  </div>
</div>









<div class="row">
  <% if @item.attachments? %>
  <div class="col-md-8" align="center">
    <%= image_tag(@item.attachments.first.thumb.url) %>
  </div>
  <% end %>
  <div class="col-md-4">
    <p><%=link_to @item.user_name, @item.user %></p>
    <%= button_to 'Написать сообщение',"/messages/new/#{@item.user.id}", method: "get", class: "btn btn-primary" %>
    <p>Зарегистрирован <%= l @item.user_created_at, format: "%d/%m/%y" %></p>
    <p ><%= image_tag(@item.user_avatar.url, alt: 'avatar',class:"img-circle") if @item.user.avatar? %></p>
    <p><%=link_to "Количество объявлений #{@item.user.items.size}", '#'%></p>
    <% if current_user && (current_user == @item.user || current_user.admin?) %>
    <p><%= link_to 'Изменить', edit_item_path(@item) %></p>
    <p><%= link_to 'Удалить обьявление', @item, method: :delete, data: { confirm: 'Вы уверены?' } %></p>
    <% if current_user.admin? %>
    <% if @item.user.ban? %>
    <%= link_to 'Разбанить', unban_user_path(@item.user.id), method: :patch, data: { confirm: 'Вы уверены?'}%>
    <% else %>
    <%= link_to 'Забанить', ban_user_path(@item.user.id), method: :patch, data: { confirm: 'Вы уверены?'}%>
    <% end %>
    <% if @item.user.admin? %>
    <p style="padding: 10px">Администратор</p>
    <% else %>
    <%= link_to 'Сделать админом', admin_user_path(@item.user.id), method: :patch, data: { confirm: 'Вы уверены?'}%>
    <% end %>
    <% end %>

    <% end %>
  </div>
</div>


<div class="row">
  <% if @item.attachments? %>
  <% @item.attachments.each do |attachment| %>
  <div class="col-md-8" align="center">
    <%= image_tag(attachment.small_thumb.url) %>
  </div>
  <% end %>
  <% end %>
</div>
<div class="row">
  <p><font size="5">
    <%= @item.description %></font>
  </p>
</div>

</div>



