.small-item { 
	line-height: 12px;
 }

.item-view{
	background:#fff;border:1px solid #ddd;box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); margin: 15px 0;overflow:hidden; opacity: 0.9;
	transition: 0.3s transform;
}
.item-view:hover{
	opacity:1;
	transform:scale(1.05);
}

.small-item-view{
	background:#fff;border:1px solid #ddd;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); margin: 5px 0px;overflow:hidden; opacity: 0.9;
}
.small-item-view:hover{
opacity:1;
}

a:hover{
	text-decoration: none;
}


.item-name{
	margin: 10px 0px 5px 10px;
	margin-top: 10px;
	margin-left: 10px;
	font-size: 20px;
	font-weight: 700;
}
.small-item-name{
	margin: 10px 0px 5px 10px;
	margin-top: 10px;
	margin-left: 10px;
	font-size: 12px;
	font-weight: 700;
}
.small-item { 
	line-height: 12px;
 }
.created-date{
	margin-left: 10px;
  color: #858585;
  line-height: 18px;
}
