<% provide(:title, 'Категории') %>
<h3>  Доступные категории  </h3>


<% def interate(z)%>
<% z.each do |k,v| %>
<% if v.is_a?(Hash) %>
<li>
	<% k.each do |k,v| %>
	<%=link_to k, v %>
	<% end %>
</li>
<ul class="nav nav-list">
	<% interate(v)%>
</ul>
<% else%>
<li>
	<%= link_to k, v %>
</li>
<% end %>
<% end %>
<% end %>


<div class="container">
	<div class="row">
		<div class="well"  padding: 8px 0;">
			<div>
				<ul class="nav nav-list">
					<% category_hash.each do |k,v|%>
					<ul class="nav nav-list">
						<% if v.is_a?(Hash) %>
						<li>
							<% k.each do |k,v| %>
							<%=link_to k, v %>
							<% end %>
						</li>
						<ul class="nav nav-list">
							<% interate(v) %>
						</ul>
						<% else %>
						<li>
							<%= link_to k, v %>
						</li>
						<% end %>
					</ul>
					<li class="divider"></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>
