<h3>Создать категорию</h3>

<%= form_with(model: @category, local: true) do |f| %>
<% if @category.errors.any? %>
<div id="alert alert-error">
	<h2><%= t('validate_errors', count: @category.errors.count) %>:</h2>

	<ul>
		<% @category.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="field">
	<%= f.label :Название %><br />
	<%= f.text_field :name, required: true %>
</div>
<div class="field">
	<%= f.label :Предок %><br />
	<%= f.select(:parent_id) do %>
	<% @categtree.each do |c| -%>
	<%= content_tag(:option, c.second, value: c.first) %>
	<% end %>
	<% end %>
</div>



<div class="actions"><%= f.submit 'Создать' %></div>
<% end %>