<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li  style="font-size: 20px; font-weight: 600">
          <%= link_to 'MyWebSite', root_path %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
       <!-- <li><%= link_to "Home", '#' %></li>
        <li><%= link_to "Help", '#' %></li>-->
        <% if current_user && current_user.admin %>
        <li><%= link_to "Создать категорию", new_category_path %></li>
        <li><%= link_to "Пользователи", users_path %></li>
        <% end %>
        <% if user_signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Сообщения <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Входящие", inbox_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Отправленные', outbox_path %> </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Аккаунт <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Мой профиль", current_user %></li>
            <li class="divider"></li>
            <li><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %> </li>
          </ul>
        </li>
        <% else %>
        <li><%= link_to "Войти", user_vkontakte_omniauth_authorize_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-left">.
        <li><%= link_to 'Создать объявление', new_item_path  %></li>
        <li><%= link_to 'Искать по категориям', categories_path %></li>
      </ul>
    </nav>
  </div>
</header>


